body {
    background-color: #282c34;
    padding-top: 0;
    margin-top: 0;
}

#root {
    margin: 0 auto;
    background-color: #282c34;
}

.App {
    text-align: center;
    color: white;
}

.header {
    height: 50px;
    font-size: 30px;
    padding: 40px 20px 20px 20px;
}

.score {
    padding-bottom: 20px;
}

.cards {
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 460px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.popup-content {
    background-color: #2b9595;
    border: 0;
    border-radius: 5px;
    color: white;
    max-width: 250px;
    text-align: center;
    padding: 20px;
}

.popup-content .close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 24px;
}

@media screen and (max-width: 769px) {

    .cards {
        padding-bottom: 50px;
        max-width: 400px;
        grid-gap: 15px;
    }
}
@media screen and (max-width: 376px) {


    .cards {
        padding-bottom: 40px;
        max-width: 310px;
        grid-gap: 10px;
    }
}
@media screen and (max-width: 321px) {
    .cards {
        padding-bottom: 30px;
        max-width: 270px;
        grid-gap: 10px;
    }
}